- var title = '<%= projectName %>'
- var description = '<%= projectDescription %>'

- var image_src = 'link to image representing the page'
- var site_name = ''
- var site_url = 'http://'
- var type = 'website'

- var twitter_handle = '@'
- var twitter_card_type = 'summary'
- var domain = ''
